In [1]:
import pickle
import pandas as pd
import numpy as np
from sklearn.calibration import LabelEncoder
import torch
from torch_geometric.data import InMemoryDataset, Data
from tqdm import tqdm

In [2]:
datatset_size = 1000

clicks_df = pd.read_csv('data/yoochoose/yoochoose-clicks.dat', header=None)
clicks_df.columns = ['session_id', 'timestamp', 'item_id']
print(clicks_df.head(5))

# buy_df = pd.read_csv('data/yoochoose/yoochoose-buys.dat', header=None)
# buy_df.columns = ['session_id', 'timestamp', 'item_id', 'price', 'quantity']
# print(buy_df.head(5))

C:\Users\ACER\AppData\Local\Temp\ipykernel_18368\1578321579.py:3: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  clicks_df = pd.read_csv('data/yoochoose/yoochoose-clicks.dat', header=None)

   session_id                 timestamp    item_id
0  session_id                 timestamp    item_id
1           1  2014-04-07T10:51:09.277Z  214536502
2           1  2014-04-07T10:54:09.868Z  214536500
3           1  2014-04-07T10:54:46.998Z  214536506
4           1  2014-04-07T10:57:00.306Z  214577561

In [3]:
sampled_session_id = np.random.choice(clicks_df.session_id.unique(), 1000000, replace=False)
sampled_session_id

array([6509157, 3154739, 8585879, ..., 2186141, 5184809, 2236781],
      dtype=object)

In [4]:
clicks_df = clicks_df.loc[clicks_df.session_id.isin(sampled_session_id)]
clicks_df.nunique()

session_id    1000000
timestamp     3565142
item_id         41099
dtype: int64

In [5]:
item_encoder = LabelEncoder()
clicks_df['item_id'] = item_encoder.fit_transform(clicks_df['item_id'].astype(int))
clicks_df.head()

  session_id                 timestamp  item_id
5          2  2014-04-07T13:56:37.614Z    13751
6          2  2014-04-07T13:57:19.373Z    13751
7          2  2014-04-07T13:58:37.446Z    26105
8          2  2014-04-07T13:59:50.710Z    23081
9          2  2014-04-07T14:00:38.247Z    23086